@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Roboto', sans-serif;

}

/* @font-face {
  font-family: 'Gabarito';
  src: url('/fonts/Gabarito-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* Add styling for the hovered row */
table.react-table tbody tr:hover {
  background-color: #f0f0f0;
  /* Change to your desired highlight color */
  cursor: pointer;
  /* Change cursor style on hover if needed */
}

table.react-table.dark-mode tbody tr:hover {
  background-color: #2f1f3b;
  /* Use a darker purplish color for dark mode */
  cursor: pointer;
  /* Change cursor style on hover if needed */
}